body {
  font-family: monospace;
}

.container,
.display,
button {
  border-radius: 10px;
  border: 2px solid black;
}

.container {
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  max-width: 350px;
  max-height: 500px;
  background-color: #c7c8cc;
  padding: 20px;
}

.display {
  background-color: white;
  margin-bottom: 15px;
}

.last-operation,
.current-operation {
  text-align: end;
  margin: 10px 20px;
}

.last-operation {
  font-size: 20px;
}

.current-operation {
  font-size: 40px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

button {
  flex: 1;
  font-size: 20px;
  padding: 20px 25px;
}

button:hover {
  background-color: lightgray;
}

#clear,
#delete {
  flex: 2;
  padding: 20px 30px;
}

#clear {
  background-color: lightblue;
}

#clear:hover {
  background-color: rgb(142, 201, 221);
}

#delete {
  background-color: lightcoral;
}

#delete:hover {
  background-color: rgb(240, 104, 104);
}
